<div *ngIf="imgItem"
     [style.height]='meta.windowHeight + "px"'
     (window:resize)="resizeWindow($event)"
     (wheel)="handleMouseScrollEvents($event)"
     (mousemove)="updateMousePosition($event)"
     (dblclick)="showHintOrHideBox()"
     class="container"
>

    <img src="{{ imgItem.image }}"
         [style.top]='meta.top  + "px"'
         [style.left]='meta.left  + "px"'
         class="item"
    />

    <svg *ngIf="meta.hint.show"
         [style.top]="0"
         [style.left]="0"
         [style.width]="this.meta.windowWidth + 'px'"
         [style.height]="this.meta.windowHeight + 'px'"
         class="svgCanvas"
         (mousedown)="boxDrawStart($event)"
         (mousemove)="svgMouseMove($event)"
         (mouseup)="svgMouseMoveUp($event)"
    >

        <polygon [attr.points]="boxVerticesSvg()"
                 [style.fill]="'hsla(111,75%,40%,0.3)'"
                 style="stroke-width:0; cursor:move"
                 (mousedown)="moveBoxStart($event)"
                 (mouseup)="moveBoxStop($event)"
        ></polygon>

        <g *ngFor="let i of [0,1,2,3]" >
            <line
                    [attr.x1]="boxLineVertices()[i].x1"
                    [attr.y1]="boxLineVertices()[i].y1"
                    [attr.x2]="boxLineVertices()[i].x2"
                    [attr.y2]="boxLineVertices()[i].y2"
                    style="shape-rendering:crispEdges; stroke:rgba(0,0,0,1.0);stroke-width:1"></line>

            <!--invisile line only for better mouse selection -->
            <line
                    [attr.x1]="boxLineVertices()[i].x1"
                    [attr.y1]="boxLineVertices()[i].y1"
                    [attr.x2]="boxLineVertices()[i].x2"
                    [attr.y2]="boxLineVertices()[i].y2"
                    (mousedown)="boxMoveLineStart(i, $event)"
                    (mouseup)="boxMoveLineStop(i, $event)"
                    [style.cursor]="i%2 ? 'ew-resize' : 'ns-resize'"
                    style="shape-rendering:crispEdges; stroke:rgba(0,0,0,0);stroke-width:4"></line>
        </g>



    </svg>

    <div *ngIf="meta.hint.show && !meta.hint.compact"
         [style.top]='meta.hint.top  + "px"'
         [style.left]='meta.hint.left  + "px"'
         style='width:270px'
         (mousedown)="moveHintStart($event)"
         (mousemove)="moveHint($event)"
         (mouseup)="moveHintStop($event)"
         class="hint"
    >
        <i (click)="closeHint()" class="fa fa-times hintButton" aria-hidden="true" ></i>
        <i (click)="toggleCompactHint()" class="fa fa-window-minimize hintButton" style='margin-right:5px;' aria-hidden="true" ></i>
        Draw box using mouse!<br />
        <b>Double-click</b> = show/hide info/box<br />
        <b>Wheel</b> = vertical scroll<br />
        +<b>Shift</b> = horizontal <br />
        +<b>Alt</b> = per-pixel<br />
        <b>Arrows</b> = move box/edge per-pixel<br />
        <br/>
        Image Width x Height: {{ imgItem.width }} x {{ imgItem.height }}<br />
        Screen Width x Height: {{ this.meta.windowWidth }} x {{ this.meta.windowHeight }}<br />
        Image Left x Top: {{ meta.left }} x {{ meta.top }} <br />
        Mouse X x Y: {{ meta.mouseX }} x {{ meta.mouseY }} <br />
        <br/>
        Box Left x Top: {{ meta.box.left }} x {{ meta.box.top }}  <br />
        Box Right x Bottom: {{ meta.box.right }} x {{ meta.box.bottom }} <br />
        Box Width x Height: {{ meta.box.width }} x {{ meta.box.height }}
    </div>

    <div *ngIf="meta.hint.show && meta.hint.compact"
         [style.top]='meta.hint.top  + "px"'
         [style.left]='meta.hint.left  + "px"'
         style='width:320px'
         (mousedown)="moveHintStart($event)"
         (mousemove)="moveHint($event)"
         (mouseup)="moveHintStop($event)"
         class="hint"
    >
        <i (click)="closeHint()" class="fa fa-times hintButton" aria-hidden="true" ></i>
        <i (click)="toggleCompactHint()" class="fa fa-question hintButton" style='margin-right:5px;' aria-hidden="true" ></i>
        <b>img</b> {{ imgItem.width }}x{{ imgItem.height }}, (<b>lt</b> {{ meta.left }}x{{ meta.top }}) <br />
        <b>screen</b> {{ this.meta.windowWidth }}x{{ this.meta.windowHeight }}, <b>mouse</b> {{ meta.mouseX }}x{{ meta.mouseY }} <br />
        <b>box: lt</b> {{ meta.box.left }}x{{ meta.box.top }}, <b>rb</b> {{ meta.box.right }}x{{ meta.box.bottom }}, <b>size</b> {{ meta.box.width }}x{{ meta.box.height }}
    </div>

</div>

<style>
    .container {
        position: absolute;
        width: 100%;
        overflow: hidden;
    }

    .item {
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hint {
        position: absolute;
        background: hsla(20,50%,50%,0.75);
        padding: 10px;
        cursor: move;
    }

    .hintButton {
        float: right;
        color: black;
        cursor: pointer;
    }

    .svgCanvas {
        position:absolute;
    }
</style>