<div *ngIf="imgItem"
     [style.height]='meta.windowHeight + "px"'
     (window:resize)="resizeWindow($event)"
     (wheel)="handleMouseScrollEvents($event)"
     (mousemove)="updateMousePosition($event)"
     class="container"
>

    <img src="{{ imgItem.image }}"
         [style.top]='meta.top  + "px"'
         [style.left]='meta.left  + "px"'
         class="item"
    />

    <svg [style.top]="0"
         [style.left]="0"
         [style.width]="this.meta.windowWidth + 'px'"
         [style.height]="this.meta.windowHeight + 'px'"
         class="svgCanvas"
         (mousedown)="boxDrawStart($event)"
         (mousemove)="boxDraw($event)"
         (mouseup)="boxDrawStop($event)"
    >
        <rect
                [attr.x]="this.meta.box.x"
                [attr.y]="this.meta.box.y"
                [attr.width]="this.meta.box.width"
                [attr.height]="this.meta.box.height"
                stroke="rgba(0,0,0,0.4)"
                stroke-width="1"
                style="shape-rendering:crispEdges; cursor: move;"
                [style.fill]="'hsla(111,75%,40%,0.4)'"
                (mousedown)="moveBoxStart($event)"
                (mousemove)="moveBox($event)"
                (mouseup)="moveBoxStop($event)"
        ></rect>

    </svg>

    <div *ngIf="meta.hint.show"
         [style.top]='meta.hint.top  + "px"'
         [style.left]='meta.hint.left  + "px"'
         [style.width]='meta.hint.width  + "px"'
         (mousedown)="moveHintStart($event)"
         (mousemove)="moveHint($event)"
         (mouseup)="moveHintStop($event)"
         class="hint"
    >
        <i (click)="closeHint()" class="fa fa-times closeButton" aria-hidden="true" ></i>
        Mouse Wheel = vertical scroll<br />
        +Shift = horizontal <br />
        +Alt = per-pixel<br />
        <br/>
        Image Width x Height: {{ imgItem.width }} x {{ imgItem.height }}<br />
        Screen Width x Height: {{ this.meta.windowWidth }} x {{ this.meta.windowHeight }}<br />
        Left x Top: {{ meta.left }} x {{ meta.top }} <br />
        Mouse X x Y: {{ meta.mouseX }} x {{ meta.mouseY }} <br />
        <br/>
        Box Left x Top: {{ meta.box.x }} x {{ meta.box.y }}  <br />
        Box Right x Bottom: {{ meta.box.x + meta.box.width }} x {{ meta.box.y + meta.box.height }} <br />
        Box Width x Height: {{ meta.box.width }} x {{ meta.box.height }}
    </div>

</div>

<style>
    .container {
        position: absolute;
        width: 100%;
        overflow: hidden;
    }

    .item {
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hint {
        position: absolute;
        background: hsla(20,50%,50%,0.5);
        padding: 10px;
        cursor: move;
    }

    .closeButton {
        float: right;
        color: black;
        cursor: pointer;
    }

    .svgCanvas {
        position:absolute;
    }
</style>