<div *ngIf="imgItem"
     [style.height]='meta.windowHeight + "px"'
     (window:resize)="resizeWindow($event)"
     (wheel)="handleMouseScrollEvents($event)"
     class="container"
>

    <img src="{{ imgItem.image }}"
         [style.top]='meta.top  + "px"'
         [style.left]='meta.left  + "px"'
         class="item"
    />

    <div *ngIf="meta.hint.show"
         [style.top]='meta.hint.top  + "px"'
         [style.left]='meta.hint.left  + "px"'
         [style.width]='meta.hint.width  + "px"'
         [style.height]='meta.hint.height  + "px"'
         (mousedown)="moveHintStart($event)"
         (mousemove)="moveHint($event)"
         (mouseup)="moveHintStop($event)"
         class="hint"
    >
        <i (click)="closeHint()" class="fa fa-times closeButton" aria-hidden="true" ></i>
        Mouse Wheel = vertical scroll<br />
        +Shift = horizontal <br />
        +Alt = per-pixel<br />
        <br/>
        Image Width x Height: {{ imgItem.width }} x {{ imgItem.height }}<br />
        Screen Width x Height: {{ this.meta.windowWidth }} x {{ this.meta.windowHeight }}<br />
        Left x Top: {{ meta.left }} x {{ meta.top }} <br />
    </div>

</div>

<style>
    .container {
        position: absolute;
        width: 100%;
        overflow: hidden;
    }

    .item {
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hint {
        position: absolute;
        background: hsla(20,50%,50%,0.5);
        padding: 10px;
        cursor: move;
    }

    .closeButton {
        float: right;
        color: black;
        cursor: pointer;
    }
</style>