<!--<div *ngIf="meta.boxEditor">-->
<div *ngIf="box" [hidden]="!hint.show">

    <!--LARGE-->

    <div [hidden]="!(hint.show && !hint.compact)"
         [style.top]='hint.top  + "px"'
         [style.left]='hint.left  + "px"'
         style='width:280px; font-size: 12px;'
         (pointerdown)="moveHintStart($event)"
         (pointermove)="moveHint($event)"
         (pointerup)="moveHintStop($event)"
         class="hint"
    >
        <i (click)="close()" class="fa fa-times hintButton" aria-hidden="true" title="{{ tr('layoutViewer.buttons.close') }}"></i>
        <i (click)="toggleCompactHint()" class="fa fa-compress hintButton" style='margin-right:5px;' aria-hidden="true" title="{{ tr('layoutViewer.buttons.compact') }}"></i>
        <a [attr.id]="hint.link" download="image.png" (click)="saveCutImgClick()" title="{{ tr('layoutViewer.buttons.save') }}">
            <i *ngIf="box.isVisible"  class="fa fa-download hintButton" style='margin-right:5px;' aria-hidden="true" ></i>
        </a>

        <div>
            {{ tr('layoutViewer.image_name') }} <b>{{ imgItem.name }}</b><br />
            <br />
            <div style="color: #ffffff">
                <span class="explanation">{{ tr('layoutViewer.help.draw') }}</span> {{ tr('layoutViewer.help.mouse') }}<br />
                <b>{{ tr('layoutViewer.help.click') }}</b> <span class="explanation">{{ tr('layoutViewer.help.click_info') }}</span><br />
                <b>{{ tr('layoutViewer.help.dbclick') }}</b> <span class="explanation">{{ tr('layoutViewer.help.dbclick_info') }}</span> <br />
                <b>{{ tr('layoutViewer.help.wheel') }}</b> <span class="explanation">{{ tr('layoutViewer.help.wheel_info') }}</span> <br />
                <b>{{ tr('layoutViewer.help.shift') }}</b> <span class="explanation">{{ tr('layoutViewer.help.shift_info') }}</span> <br />
                <b>{{ tr('layoutViewer.help.alt') }}</b> <span class="explanation">{{ tr('layoutViewer.help.alt_info') }}</span> <br />
                <b>{{ tr('layoutViewer.help.arrows') }}</b> <span class="explanation">{{ tr('layoutViewer.help.arrows_info') }}</span> <br />
                <b>{{ tr('layoutViewer.help.s') }}</b> <span class="explanation">{{ tr('layoutViewer.help.s_info') }}</span> <br />
                <b>{{ tr('layoutViewer.help.i') }}</b> <span class="explanation">{{ tr('layoutViewer.help.i_info') }}</span> <br />
                <br/>
            </div>
            {{ tr('layoutViewer.num_long.img_wh') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ imgItem.width }} x {{ imgItem.height }}</b></span> <br />
            {{ tr('layoutViewer.num_long.scr_wh') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ screenWidth }} x {{ screenHeight }}</b></span> <br />
            {{ tr('layoutViewer.num_long.img_lt') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ imgLeft }} x {{ imgTop }}</b></span> <br />
            {{ tr('layoutViewer.num_long.mouse_xy') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ mouseX }} x {{ mouseY }}</b></span> <br />
            <br/>
            {{ tr('layoutViewer.num_long.box') }} <br />
            {{ tr('layoutViewer.num_long.box_lt') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ box.left }} x {{ box.top }}</b></span>  <br />
            {{ tr('layoutViewer.num_long.box_rb') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ box.right }} x {{ box.bottom }}</b></span> <br />
            {{ tr('layoutViewer.num_long.box_wh') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ box.width }} x {{ box.height }}</b></span> <br />
        </div>
        <br />

        <color-picker #colorPicker [canvas]="canvas" [small]="false" (ignoreMove)="ignoreMove($event)">{{ bindColorPicker(colorPicker) }}</color-picker>

    </div>

    <!--COMPACT-->

    <div [hidden]="!(hint.show && hint.compact)"
         [style.top]='hint.top  + "px"'
         [style.left]='hint.left  + "px"'
         style='width:220px; font-size:10px;'
         (pointerdown)="moveHintStart($event)"
         (pointermove)="moveHint($event)"
         (pointerup)="moveHintStop($event)"
         class="hint"
    >
        <i (click)="close()" class="fa fa-times hintButton" aria-hidden="true" title="{{ tr('layoutViewer.buttons.close') }}"></i>
        <i (click)="toggleCompactHint()" class="fa fa-expand hintButton" style='margin-right:5px;' aria-hidden="true" title="{{ tr('layoutViewer.buttons.full') }}"></i>
        <a [attr.id]="hint.linkSmall" download="image.png" (click)="saveCutImgClick()" title="{{ tr('layoutViewer.buttons.save') }}">
            <i *ngIf="box.isVisible"  class="fa fa-download hintButton" style='margin-right:5px;' aria-hidden="true" ></i>
        </a>

        {{ tr('layoutViewer.num_short.img') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ imgItem.width }}x{{ imgItem.height }}</b>, ({{ tr('layoutViewer.num_short.lt') }} <b>{{ imgLeft }}x{{ imgTop }}</b>)</span> <br />
        {{ tr('layoutViewer.num_short.screen') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ screenWidth }}x{{ screenHeight}}</b>, {{ tr('layoutViewer.num_short.mouse') }} <b>{{ mouseX }}x{{ mouseY }}</b></span> <br />
        {{ tr('layoutViewer.num_short.box') }} {{ tr('layoutViewer.num_short.lt') }} <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ box.left }}x{{ box.top }}</b>, {{ tr('layoutViewer.num_short.rb') }} <b>{{ box.right }}x{{ box.bottom }}</b>, {{ tr('layoutViewer.num_short.size') }} <b>{{ box.width }}x{{ box.height }}</b></span>

        <color-picker #colorPickerSmall  [canvas]="canvas" [small]="true" (ignoreMove)="ignoreMove($event)"> {{ bindColorPickerSmall(colorPickerSmall) }}</color-picker>

    </div>
</div>


<style>
    .hint {
        position: absolute;
        background: hsla(73,50%,50%,0.75);
        padding: 10px;
        cursor: move;
    }

    .hintButton {
        float: right;
        color: black;
        cursor: pointer;
    }

    .textCursor {
        cursor: text;
    }

    .explanation {
        color: #eaffaf;
    }
</style>