<!--<div *ngIf="meta.boxEditor">-->
<div *ngIf="box" [hidden]="!hint.show">

    <!--LARGE-->

    <div [hidden]="!(hint.show && !hint.compact)"
         [style.top]='hint.top  + "px"'
         [style.left]='hint.left  + "px"'
         style='width:280px; font-size: 12px;'
         (pointerdown)="moveHintStart($event)"
         (pointermove)="moveHint($event)"
         (pointerup)="moveHintStop($event)"
         class="hint"
    >
        <i (click)="close()" class="fa fa-times hintButton" aria-hidden="true" title="Close - you can reopen by double click or page reload"></i>
        <i (click)="toggleCompactHint()" class="fa fa-compress hintButton" style='margin-right:5px;' aria-hidden="true" title="Compact mode"></i>
        <a [attr.id]="hint.link" download="image.png" (click)="saveCutImgClick()" title="Cut image to selection box and save it">
            <i *ngIf="box.isVisible"  class="fa fa-download hintButton" style='margin-right:5px;' aria-hidden="true" ></i>
        </a>

        <div>
            Image name: <b>{{ imgItem.name }}</b><br />
            <br />
            <div style="color: #ffffff">
                <span class="explanation">Draw box using</span> Mouse!<br />
                <b>Click/Space</b> <span class="explanation">: select color</span><br />
                <b>Double-click</b> <span class="explanation">: show info</span> <br />
                <b>Wheel</b> <span class="explanation">: vertical scroll</span> <br />
                +<b>Shift</b> <span class="explanation">: horizontal </span> <br />
                +<b>Alt</b> <span class="explanation">: per-pixel</span> <br />
                <b>Arrows</b> <span class="explanation">: move per-pixel box-edge-vertex,color</span> <br />
                <b>S</b> <span class="explanation">: crop to selection box and save image</span> <br />
                <b>I</b> <span class="explanation">: show/hide info box</span> <br />
                <br/>
            </div>
            Image Width x Height: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ imgItem.width }} x {{ imgItem.height }}</b></span> <br />
            Screen Width x Height: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ screenWidth }} x {{ screenHeight }}</b></span> <br />
            Image Left x Top: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ imgLeft }} x {{ imgTop }}</b></span> <br />
            Mouse X x Y: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ mouseX }} x {{ mouseY }}</b></span> <br />
            <br/>
            Selection Box: <br />
            Left x Top: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ box.left }} x {{ box.top }}</b></span>  <br />
            Right x Bottom: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ box.right }} x {{ box.bottom }}</b></span> <br />
            Width x Height: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ box.width }} x {{ box.height }}</b></span> <br />
        </div>
        <br />

        <color-picker #colorPicker [canvas]="canvas" [small]="false" (ignoreMove)="ignoreMove($event)">{{ bindColorPicker(colorPicker) }}</color-picker>

    </div>

    <!--COMPACT-->

    <div [hidden]="!(hint.show && hint.compact)"
         [style.top]='hint.top  + "px"'
         [style.left]='hint.left  + "px"'
         style='width:220px; font-size:10px;'
         (pointerdown)="moveHintStart($event)"
         (pointermove)="moveHint($event)"
         (pointerup)="moveHintStop($event)"
         class="hint"
    >
        <i (click)="close()" class="fa fa-times hintButton" aria-hidden="true" title="Close - you can reopen by double click or page reload"></i>
        <i (click)="toggleCompactHint()" class="fa fa-expand hintButton" style='margin-right:5px;' aria-hidden="true" title="Show more help information"></i>
        <a [attr.id]="hint.linkSmall" download="image.png" (click)="saveCutImgClick()" title="Cut image to selection box and save it">
            <i *ngIf="box.isVisible"  class="fa fa-download hintButton" style='margin-right:5px;' aria-hidden="true" ></i>
        </a>

        img: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ imgItem.width }}x{{ imgItem.height }}</b>, (lt: <b>{{ imgLeft }}x{{ imgTop }}</b>)</span> <br />
        screen: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ screenWidth }}x{{ screenHeight}}</b>, mouse: <b>{{ mouseX }}x{{ mouseY }}</b></span> <br />
        box lt: <span (pointerdown)="ignoreMove(true)" class="textCursor"><b>{{ box.left }}x{{ box.top }}</b>, rb: <b>{{ box.right }}x{{ box.bottom }}</b>,size: <b>{{ box.width }}x{{ box.height }}</b></span>

        <color-picker #colorPickerSmall  [canvas]="canvas" [small]="true" (ignoreMove)="ignoreMove($event)"> {{ bindColorPickerSmall(colorPickerSmall) }}</color-picker>

    </div>
</div>


<style>
    .hint {
        position: absolute;
        background: hsla(73,50%,50%,0.75);
        padding: 10px;
        cursor: move;
    }

    .hintButton {
        float: right;
        color: black;
        cursor: pointer;
    }

    .textCursor {
        cursor: text;
    }

    .explanation {
        color: #eaffaf;
    }
</style>