<div>
    <h1 x-large class="sample-content">{{ tr('layoutManager.title') }}</h1>

    <div *ngIf="meta.notification.show" class="notification">
        <div style="overflow-y: auto;">{{ meta.notification.msg }}</div>

        <div style='float:right'><button (click)="closeNotofication()" class="notification-button-ok">OK</button></div>
    </div>

    <button *ngIf="currentLang() != 'pl'" (click)="switchLang('pl')">Polski</button>
    <button *ngIf="currentLang() != 'en'" (click)="switchLang('en')">English</button>

    <div>
        <div><input type="file" (change)="onImport($event)"  #file/></div>
        <div>
            <input type="text" [(ngModel)]="meta.pictureUrl"  placeholder="{{ tr('layoutManager.pasteUrl') }}"/>
            <button (click)="downloadFile(meta.pictureUrl)">{{ tr('layoutManager.getUtl') }}</button>
        </div>
    </div>

    <div style="height:220px; margin-top:20px;">
        <i *ngIf="meta.loading" class="fa fa-refresh fa-spin fa-5x" aria-hidden="true"></i>
        <img *ngIf="meta.selectedImage" src="{{ meta.selectedImage.imgDataURI }}" style="max-height:200px;"/>
        <!--<img  src="https://static.pexels.com/photos/87293/pexels-photo-87293.jpeg" style="max-height:200px;"/>-->
        <!--<img src="http://www.freeiconspng.com/uploads/flower-icons-29.png" />-->
    </div>

    <div>
        <form #formDonate action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="MECR7Z6DVZYS6">
            <input (click)="formDonate.submit()"  type="image" src="https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>

    <div>
        <div>{{ tr('layoutManager.freeSpace', { freeSpace: formatedFreeSpace() } ) }}</div>
            <!-- TODO table scroll http://stackoverflow.com/questions/8232713/how-to-display-scroll-bar-onto-a-html-table-->
            <table class="image-table">
                <thead>
                    <tr>
                        <td style="width: 40px;">{{ tr('layoutManager.table.col.id') }}</td>
                        <td>{{ tr('layoutManager.table.col.name') }}</td>
                        <td>{{ tr('layoutManager.table.col.actions') }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of meta.list">
                        <td>{{ item.id }}</td>
                        <td>
                            <div *ngIf="!meta.editItem || meta.editItem.id != item.id ">
                                <div><a (click)="show(item)" class="itemView">{{ item.name }}</a></div>
                                <div *ngIf="item.url" class="item-url">{{ item.url }}</div>
                            </div>
                            <div *ngIf="meta.editItem && meta.editItem.id == item.id ">
                                <input type="text" [(ngModel)]="meta.editItem.name" style="width:90%"/>
                            </div>

                        </td>
                        <td>
                            <span *ngIf="!meta.editItem || meta.editItem.id != item.id ">
                                <button (click)="show(item)"><i (click)='select(item)' class="fa fa-scissors" aria-hidden="true"> {{ tr('layoutManager.table.actions.edit') }} </i></button>
                                <button (click)="editItem(item)"><i (click)='select(item)' class="fa fa-pencil" aria-hidden="true"> {{ tr('layoutManager.table.actions.editName') }}</i></button>
                                <button><i (click)='select(item)' class="fa fa-eye" aria-hidden="true"> {{ tr('layoutManager.table.actions.preview') }}</i></button>
                                <button><i (click)='remove(item)' class="fa fa-trash" aria-hidden="true"> {{ tr('layoutManager.table.actions.del') }}</i></button>
                            </span>
                            <span *ngIf="meta.editItem && meta.editItem.id == item.id ">
                                <button (click)="saveItem(item)">Save</button>
                                <button (click)="cancelSaveItem(item)">Cancel</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            <!--<li *ngFor="let item of meta.list" (click)="select(item)">-->
                <!--<i (click)='show(item)' class="fa fa-eye" aria-hidden="true"></i>-->
                <!--#{{ item.id }}-->

                <!--<i (click)='remove(item)' class="fa fa-trash" aria-hidden="true"></i>-->
            <!--</li>-->
            </table>

    </div>

    <style>
        .itemView {
            cursor:pointer
        }

        .item-url {
            font-size:10px;
            color: gray;
        }

        .itemView:hover {
            text-decoration: underline;
        }

        .notification {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 500px;

            background: #fdffc4;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 10px;
        }

        .notification-button-ok {
            right: 0;
        }

        table {
            margin: 0 auto;
            margin-top:20px;
            border-spacing: 0;
        }

        thead > tr > td {
            border-bottom: 1px solid gray;
        }

        tbody > tr > td {
            padding-top: 5px;
            padding-bottom: 5px;
        }


    </style>

</div>
